name: Test Package

on: pull_request

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GIT_TOKEN }}

      - name: Enable node
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install dependencies
        run: yarn

      - name: Setup Python for Deps
        run: sudo apt-get update && sudo apt-get install python3-dev -y

      - name: Build
        run: yarn build --concurrency 2

      - name: Run tests
        run: yarn test --concurrency 2
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        env:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: XDeFi-tech/chains
